<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main reset page</title>
</head>
<body>
    <h1>reset page</h1>
    <form method="post">
        {% csrf_token %}
        <input type="password" placeholder="Введите новый пароль" name="password1">
        <input type="password" placeholder="Повторите новый пароль" name="password2">
        <button type="submit">Изменить пароль</button>
    </form>
</body>
</html>